<div class="col-md-12">
  <h1 class="text-center">我上傳的圖</h1>
  <% @pictures.each_slice(3) do |ps| %>
    <div class="row">
      <% ps.each do |p| %>
        <div class="col-md-4">
          <%= image_tag p.image.thumb.url.to_s %>
          <h3><%= link_to(p.title, picture_path(p)) %></h3>
          <h4>Submitted by <%= p.owner.name %></h4>
          <% if p.editable_by?(current_user) %>
            <div class="btn-group">
              <%= link_to("Edit", edit_picture_path(p), class: "btn btn-warning")%>
              <%= link_to("Delete", picture_path(p),
                          method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger")%>
            </div>
          <% end %>
          <%= link_to(p.like_amount, like_picture_path(p), method: :post, class: "glyphicon glyphicon-heart ")%>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>
